#textdomain wesnoth-celmin-bcoa

[about]
	title=_"Design and Coding"
	[entry]
		name="Celtic Minstrel"
	[/entry]
[/about]

[about]
	title=_"Testing"
	[entry]
		name="Faerie_Storm"
		comment="Extensive testing and balancing help"
	[/entry]
	[entry]
		name="Adamant14"
	[/entry]
	[entry]
		name="TheScribe"
	[/entry]
	[entry]
		name="taptap"
	[/entry]
	[entry]
		name="Ulfsark"
		comment="Some help with dialogue improvements"
	[/entry]
[/about]

[about]
	title=_"Graphics"
	[entry]
		name="Celtic Minstrel"
		comment="Adapted, edited, recoloured, and rescaled others' graphics to suit the campaign."
	[/entry]
	[entry]
		name="Faerie Storm"
		comment="Adapted, edited, recoloured, and animated some graphics to suit the campaign."
	[/entry]
	[entry]
		name="Eleazar"
		comment="Several attack icons were taken from his icon pack, and a few more icons were adapted for status icons and overlays"
	[/entry]
	[entry]
		name="kitty"
		comment="The Elvish Civilian portrait was created by her"
	[/entry]
	[entry]
		name="shadowm"
		comment="Treewalker and wisp sprites adapted from her work"
	[/entry]
	[entry]
		name="Necrosporus"
		comment="Mosquito attack icon"
	[/entry]
	[entry]
		name="sylvecorne"
		comment="Created the Elvish Mage base graphic"
	[/entry]
	[entry]
		name=_"'Swamplings'"
		comment="Mosquito sprites taken from the Swamplings campaign."
	[/entry]
	[entry]
		name=_"'A Vision Blinded'"
		comment="Elvish Initiate graphic adapted from this campaign; also the staff used by the Elvish Wisp"
	[/entry]
	[entry]
		name=_"'The Legend Begins'"
		comment="Source of the rat fangs attack icon"
	[/entry]
	[entry]
		name=_"'Invasion from the Unknown' and 'The Settlers of Light'"
		comment="Priestess and archmage sprites adapted from Aragwaithi sprites in IftU and TSoL"
	[/entry]
	[entry]
		name=_"'Dead Water'"
		comment="The ankh and trident overlays"
	[/entry]
	[entry]
		name=_"'Fate of a Princess'"
		comment="The elf queen sprite and Nel-Brisad's portrait"
	[/entry]
	[entry]
		name=_"Wesnoth (core)"
		comment="Most of the overlays were adapted from images in core."
	[/entry]
[/about]
