#textdomain wesnoth-celmin-bcoa

#define ABILITY_DOMINATES
	[dominate]
		id=dominate
		name=_"dominates"
		description=_"This unit has a powerful aura which can be used to dominate and command weak-willed creatures.

Any units of equal or lower level next to this unit at the start of the turn have a chance to be converted to his side. If they are not still adjacent to him by the start of the next turn, or if they gain a level, they will be released.

Units of equal level have a 5% chance of being converted for each turn they remain next to him. Units of one level lower have a 25% chance of being converted. Lower-level units are always converted.

Note: If unit with the plague weapon special is dominated and makes a kill, the resulting unit is also considered to be dominated and will be released to the side of the killing unit under the conditions stated above."
		female_description=_"This unit has a powerful aura which can be used to dominate and command weak-willed creatures.

Any units of equal or lower level next to this unit at the start of the turn have a chance to be converted to her side. If they are not still adjacent to her by the start of the next turn, or if they gain a level, they will be released.

Units of equal level have a 5% chance of being converted for each turn they remain next to her. Units of one level lower have a 25% chance of being converted. Lower-level units are always converted.

Note: If unit with the plague weapon special is dominated and makes a kill, the resulting unit is also considered to be dominated and will be released to the side of the killing unit under the conditions stated above."
		affect_enemies=yes
	[/dominate]
#enddef

#define ABILITY_RESURRECT
	[resurrect]
		id=resurrect
		name=_"resurrect"
		female_name=_"female^resurrect"
		description=_"The ability to bring back the dead is extremely rare. When a unit dies next to this one, they will be returned to the recall list where you may retrieve them in a keep."
		cumulative=no
		affect_allies=yes
	[/resurrect]
#enddef

#define ABILITY_TREEWALK
	[teleport]
		id=treewalk
		name=_"treewalk"
		female_name=_"female^treewalk"
		description=_"This unit may teleport between any two living great trees using one of its moves."
		[tunnel]
			id=tree_teleport
			allow_vision=no
			[source]
				terrain=*^Fet
				formula="
					unit = teleport_unit or not unit
				where
					unit = unit_at(loc)
				"
			[/source]

			[target]
				terrain=*^Fet
				formula="not unit_at(loc)"
			[/target]

			[filter]
				ability=treewalk
			[/filter]
		[/tunnel]
	[/teleport]
#enddef

#define ABILITY_MINOR_HEALS
	# Mostly copied from the macro definition of {ABILITY_HEALS}
	[heals]
		value=2
		id=healing
		affect_allies=yes
		name= _ "heals +2"
		#female_name= _ "female^heals +2"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this healer may heal up to 2 HP per turn, or stop poison from taking effect for that turn.
A poisoned unit cannot be cured of its poison by a healer, and must seek the care of a village or a unit that can cure."
		affect_self=no
		#poison=slowed
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_FAERIE_BRIGHTNESS
	[illuminates]
		id=faebright
		value=15
		max_value=15
		cumulative=no
		name= _ "faerie glow"
		female_name= _ "female^faerie glow"
		description= _ "This unit illuminates the surrounding area, making lawful units fight better, and chaotic units fight worse."
		affect_self=yes
	[/illuminates]
#enddef

#define ABILITY_NEAR_NATURE
	[regenerate]
		id=nearnature
		name=_"near nature"
		description=_"A few elves are so in touch with nature that they can heal faster than normal when they are near abundant plant life, such as is found in a forest or swamp. They will gain 3 hit points at the start of their turn when standing on forest, swamp, or mushrooms."
		name_inactive=_"near nature"
		description_inactive=_"A few elves are so in touch with nature that they can heal faster than normal when they are near abundant plant life, such as is found in a forest or swamp. They will gain 3 hit points at the start of their turn when standing on forest, swamp, or mushrooms."
		value=3
		poison=cured
		[filter_self]
			[filter_location]
				terrain=S*,*^F*,*^Uf
			[/filter_location]
		[/filter_self]
	[/regenerate]
#enddef

#define ABILITY_HOLY_AURA
	[resistance]
		name=_"holy aura"
		name_inactive=_"holy aura"
		description=_"The holy aura around this person reduces the damage done by undead creatures of all kinds. This effect extends to adjacent allies as well.
(+10% resist to cold, arcane, pierce, blade when an undead is adjacent)"
		description_inactive=_"The holy aura around this person reduces the damage done by undead creatures of all kinds. This effect extends to adjacent allies as well.
(+10% resist to cold, arcane, pierce, blade when an undead is adjacent)"
		[adjacent_description]
			name=_"holy aura"
			name_inactive=_"holy aura"
			description=_"This person is standing within a holy aura which reduces the damage done by undead creatures of all kinds.
(+10% resist to cold, arcane, pierce, blade when an undead is adjacent)"
			description_inactive=_"This person is standing within a holy aura which reduces the damage done by undead creatures of all kinds.
(+10% resist to cold, arcane, pierce, blade when an undead is adjacent)"
		[/adjacent_description]
		affect_self=yes
		affect_allies=yes
		# Needs something like this to work exactly right :(
		#[filter_enemy]
		#	race=undead
		#[/filter_enemy]
		[filter_self]
			[filter_adjacent]
				race=undead
				is_enemy=yes
			[/filter_adjacent]
		[/filter_self]
		[filter]
			[filter_adjacent]
				race=undead
				is_enemy=yes
			[/filter_adjacent]
			[or]
				[filter_adjacent]
					is_enemy=no
					[filter_adjacent]
						race=undead
						is_enemy=yes
					[/filter_adjacent]
				[/filter_adjacent]
			[/or]
		[/filter]
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
		add=15
		max_value=50
		apply_to=arcane,pierce,blade,cold
	[/resistance]
#enddef

#define ABILITY_SUPER_HEAL
	[heals]
		value=12
		id=healing
		affect_allies=yes
		name= _ "heals +12"
		female_name= _ "female^heals +12"
		description= _ "This unit combines herbal remedies with magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 12 HP per turn, or stop poison from taking effect for that turn.
A poisoned unit cannot be cured of its poison by a healer, and must seek the care of a village or a unit that can cure."
		affect_self=no
		poison=slowed
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
	[/heals]
#enddef
