#wmllint: no translatables

#define OVERLAY_OUTLINES
    # North
    [terrain_graphics]
        map="
,2
*,*
,1
*,*
,*"
        [tile]
            pos=1
            type=*^Kov,*^Cov
        [/tile]
        [tile]
            pos=2
            type=!,*^Kov,*^Cov,X*
        [/tile]
        # Top
        [image] # top left
            name="marker.png"
            base=16,16
            center=75,110
            layer=80
        [/image]
        [image] # top middle
            name="marker.png"
            base=16,16
            center=90,110
            layer=80
        [/image]
    [/terrain_graphics]

    # Northeast
    [terrain_graphics]
        map="
,*
*,2
,1
*,*
,*"
        [tile]
            pos=1
            type=*^Kov,*^Cov
        [/tile]
        [tile]
            pos=2
            type=!,*^Kov,*^Cov,X*
        [/tile]
        [image] # top right
            name="marker.png"
            base=16,16
            center=106,110
            layer=-1
        [/image]
        [image] # right top
            name="marker.png"
            base=16,16
            center=115,128
            layer=-1
        [/image]
    [/terrain_graphics]

    # Southeast
    [terrain_graphics]
        map="
,*
*,*
,1
*,2
,*"
        [tile]
            pos=1
            type=*^Kov,*^Cov
        [/tile]
        [tile]
            pos=2
            type=!,*^Kov,*^Cov,X*
        [/tile]
        [image] # right middle
            name="marker.png"
            base=16,16
            center=124,146
            layer=-1
        [/image]
        [image] # right bottom
            name="marker.png"
            base=16,16
            center=115,164
            layer=-1
        [/image]
    [/terrain_graphics]

    # South
    [terrain_graphics]
        map="
,*
*,*
,1
*,*
,2"
        [tile]
            pos=1
            type=*^Kov,*^Cov
        [/tile]
        [tile]
            pos=2
            type=!,*^Kov,*^Cov,X*
        [/tile]
        [image] # bottom middle
            name="marker.png"
            base=16,16
            center=90,182
            layer=-1
        [/image]
        [image] # bottom right
            name="marker.png"
            base=16,16
            center=106,182
            layer=-1
        [/image]
    [/terrain_graphics]

    # Southwest
    [terrain_graphics]
        map="
,*
*,*
,1
2,*
,*"
        [tile]
            pos=1
            type=*^Kov,*^Cov
        [/tile]
        [tile]
            pos=2
            type=!,*^Kov,*^Cov,X*
        [/tile]
        [image] # left bottom
            name="marker.png"
            base=16,16
            center=65,164
            layer=1
        [/image]
        [image] # bottom left
            name="marker.png"
            base=16,16
            center=75,182
            layer=1
        [/image]
    [/terrain_graphics]

    # Northwest
    [terrain_graphics]
        map="
,*
2,*
,1
*,*
,*"
        [tile]
            pos=1
            type=*^Kov,*^Cov
        [/tile]
        [tile]
            pos=2
            type=!,*^Kov,*^Cov,X*
        [/tile]
        [image] # left top
            name="marker.png"
            base=16,16
            center=65,128
            layer=80
        [/image]
        [image] # left middle
            name="marker.png"
            base=16,16
            center=55,146
            layer=80
        [/image]
    [/terrain_graphics]
#enddef
