
# Copied from side-utils and modified to allow the limits to persist across scenarios
# The limit macro does need to be included in all subsequent scenarios, however.

# Limit the total number of units passing a specified filter that a given
# side can recruit in the scenario.
#
# Allow side 2 no more than 1 Draug in the entire scenario
#! {LIMIT_RECRUITS 2 Draug 1}

#define LIMIT_RECRUITS_STOP SIDE TYPE
	# This is included in a scenario to cancel the effect of LIMIT_RECRUITS_FOREVER
	# It's probably not really necessary, and it's never actually used.

	[event]
		name=prestart

		# the array holding the recruit-limited types is cleared here, because
		# it could hold values carried over from the previous scenario

		{CLEAR_VARIABLE side_{SIDE}_limited_recruits}

		{VARIABLE side_{SIDE}_limited_recruits_length -1}
	[/event]
#enddef
	
#define LIMIT_RECRUITS_FOREVER SIDE TYPE LIMIT_NUMBER
	# when the side recruits this given type for the first time, it's recorded
	# in an array that holds info on all the recruit-limited types for this side

	[event]
		name=recruit
		first_time_only=yes

		[filter]
			side={SIDE}
			type={TYPE}
		[/filter]

		{VARIABLE_OP side_{SIDE}_limited_recruits_length add 1}

		{VARIABLE side_{SIDE}_limited_recruits[$side_{SIDE}_limited_recruits_length|].type $unit.type}
	[/event]

	# and every time when the side recruits this given type, we increment a
	# counter, and if it matches or exceeds the limit, we disallow recruiting
	# more of those units

	[event]
		name=recruit
		first_time_only=no

		[filter]
			side={SIDE}
			type={TYPE}
		[/filter]

		[foreach]
			array=side_{SIDE}_limited_recruits
			variable=recruit_info
			[do]
			[if]
				[variable]
					name=recruit_info.type
					equals=$unit.type
				[/variable]

				[then]
					{VARIABLE_OP recruit_info.number_recruited add 1}
					[if]
						[variable]
							name=recruit_info.number_recruited
							greater_than_equal_to={LIMIT_NUMBER}
						[/variable]

						[then]
							[disallow_recruit]
								side={SIDE}
								type={TYPE}
							[/disallow_recruit]
						[/then]
					[/if]
				[/then]
			[/if]
			[/do]
		[/foreach]
	[/event]
#enddef

#define LIMITED_ELF_RECRUITS
	#ifndef HARD
		#ifdef EASY
			{LIMIT_RECRUITS_FOREVER 1 (Elvish Fighter) 3}
		#else
			{LIMIT_RECRUITS_FOREVER 1 (Elvish Fighter) 1}
		#endif
		{LIMIT_RECRUITS_FOREVER 1 (Elvish Archer) 2}
	#endif
#enddef

#define LIMITED_MERFOLK_RECRUITS
	#ifndef HARD
		{LIMIT_RECRUITS_FOREVER 1 (Mermaid Initiate) 3}
	#else
		{LIMIT_RECRUITS_FOREVER 1 (Mermaid Initiate) 2}
	#endif
	#ifdef EASY
		{LIMIT_RECRUITS_FOREVER 1 (Merman Hunter) 3}
	#else
		{LIMIT_RECRUITS_FOREVER 1 (Merman Hunter) 2}
	#endif
#enddef
