#textdomain wesnoth-drusi

# Resurrection implementation
#define RESURRECT_EVENT
[event]
	name=die
	first_time_only=no
	id=unit_resurrection
	[filter]
		[filter_adjacent]
			count=1-6
			is_enemy=no
			ability=resurrect
		[/filter_adjacent]
		canrecruit=no
	[/filter]
	[animate_unit]
		flag=resurrect
		[filter]
			ability=resurrect
			[filter_adjacent]
				id=$unit.id
				is_enemy=no
			[/filter_adjacent]
		[/filter]
		text=_"resurrected!"
		{COLOR_HEAL}
		[facing]
			[filter]
				id=$unit.id
			[/filter]
		[/facing]
	[/animate_unit]
	[store_unit]
		[filter]
			x,y=$x1,$y1
		[/filter]
		variable=killed_unit
		kill=yes
	[/store_unit]
	[if]
		[variable]
			name=killed_unit.experience
			greater_than_equal_to=20
		[/variable]
		[then]
			[set_variable]
				name=killed_unit.experience
				sub=20
			[/set_variable]
		[/then]
	[/if]
	[set_variable]
		name=killed_unit.hitpoints
		to_variable=killed_unit.max_hitpoints
	[/set_variable]
	[set_variable]
		name=killed_unit.moves
		to_variable=killed_unit.max_moves
	[/set_variable]
	[set_variable]
		name=killed_unit.status.poisoned
		value=no
	[/set_variable]
	[unstore_unit]
		variable=killed_unit
		x,y=recall,recall
	[/unstore_unit]
[/event]
#enddef