#textdomain wesnoth-drusi

#define TRAIT_HARDY
    [trait]
        id=hardy
        male_name= _ "hardy"
        female_name= _ "female^hardy"
        description= _ "Increased resistance to damage (+15%)"
        [effect]
        	apply_to=resistance
        	replace=no
        	[resistance]
        		fire=-15
        		cold=-15
        		arcane=-15
        		blade=-15
        		pierce=-15
        		impact=-15
        	[/resistance]
        [/effect]
    [/trait]
#enddef

#define TRAIT_AGILE
	[trait]
		id=agile
		male_name=_"agile"
		female_name=_"female^agile"
		description=_"Gets an extra strike on all ranged attacks and is a little better at navigating difficult terrains."
		[effect]
			apply_to=attack
			range=ranged
			increase_attacks=1
		[/effect]
		[effect]
			apply_to=movement_costs
			replace=no
			[movement_costs]
				cave=-1
				mountains=-1
			[/movement_costs]
		[/effect]
	[/trait]
#enddef

#define TRAIT_MIGHTY
	[trait]
		id=mighty
		male_name=_"mighty"
		female_name=_"female^mighty"
		description=_"+2 damage on all attacks"
		[effect]
			apply_to=attack
			increase_damage=2
		[/effect]
	[/trait]
#enddef

#define TRAIT_SPEEDY
	[trait]
		id=speedy
		male_name=_"speedy"
		female_name=_"female^speedy"
		description=_"Gets two extra movement points"
		[effect]
			apply_to=movement
			increase=2
		[/effect]
	[/trait]
#enddef

#define TRAIT_TETHERED
	# Kaden's most powerful servants (ghast and nightgaunt leaders) are also the most
	# heavily tethered, and unfortunately get a major disadvantage from this.
	[trait]
		id=tethered
		male_name=_"tethered"
		description=_"
This creature is bound in order to keep it under control, but this severely limits its abilities in combat.
"
		[effect]
			apply_to=hitpoints
			{QUANTITY increase_total -30% -20% -10%}
			heal_full=yes
		[/effect]
		[effect]
			apply_to=attack
			range=melee
			{QUANTITY increase_damage -20% -10% -5%}
		[/effect]
	[/trait]
#enddef