#textdomain wesnoth-drusi
[unit_type]
    id=Giant Toad
    name= _ "Giant Frog"
    race=monster
    image="units/monsters/giant-frog.png"
    hitpoints=40
    movement_type=amphibious
    movement=6
    experience=35
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=16
    usage=archer
    {TRAIT_FERAL_MUSTHAVE}
    description= _ "Given an adequate supply of food, some frogs can grow to truly impressive sizes. They can also grow quite aggressive."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    {DEFENSE_ANIM "units/monsters/giant-frog.png" "units/monsters/giant-frog.png" "squishy-hit.wav" }
    die_sound=mermen-die.ogg
    [attack]
        name=slap
        description=_ "slap"
        icon=attacks/slam-toad.png
        type=impact
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
    	name=tongue
    	description=_"tongue"
    	icon=attacks/tongue-toad.png
    	type=impact
    	range=ranged
    	damage=12
    	number=1
    	[specials]
    		{WEAPON_SPECIAL_MARKSMAN}
    	[/specials]
    [/attack]
    [attack_anim]
    	[filter_attack]
    		name=slap
    	[/filter_attack]
    	{SOUND:HIT_AND_MISS squishy-strike.wav squishy-miss.wav 300}
    	offset="0~0.6:300,0.6~0:300"
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tongue
        [/filter_attack]
        start_time=-500
        offset=0
        [frame]
            duration=100
            image="units/monsters/giant-frog.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-frog.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-frog-tongue.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-frog-tongue.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/monsters/giant-frog-tongue.png"
                sound=tail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/monsters/giant-frog-tongue.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/monsters/giant-frog.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-frog.png"
        [/frame]
    [/attack_anim]
[/unit_type]
