#textdomain wesnoth-drusi

[unit_type]
	id=Mother Rat
	name=_"Mother Rat"
    race=monster
    image="units/monsters/giant-rat.png~CS(-10,-40,10)"
	level=1
	cost=12
	experience=50
	movement=6
	hitpoints=30
	ellipse="ellipse/star"
    movement_type=rodentfoot
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    usage=fighter
	#textdomain wesnoth-units
    description= _ "Given an adequate supply of food, some rats can grow to truly impressive sizes. They can also grow quite aggressive."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=3
        number=4
        [specials]
        	{WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/monsters/giant-rat-defend-2.png~CS(-10,-40,10)" "units/monsters/giant-rat-defend-1.png~CS(-10,-40,10)" {SOUND_LIST:BAT_HIT} }
    die_sound=bat-flapping.wav
    [death]
        [frame]
            duration=100
            image="units/monsters/giant-rat-die-1.png~CS(-10,-40,10)"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-die-2.png~CS(-10,-40,10)"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-die-3.png~CS(-10,-40,10)"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500
        [frame]
            duration=100
            image="units/monsters/giant-rat-attack-1.png~CS(-10,-40,10)"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-attack-2.png~CS(-10,-40,10)"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-attack-3.png~CS(-10,-40,10)"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-attack-4.png~CS(-10,-40,10)"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/monsters/giant-rat-attack-5.png~CS(-10,-40,10)"
                sound=bite-small.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/monsters/giant-rat-attack-5.png~CS(-10,-40,10)"
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/monsters/giant-rat-attack-6.png~CS(-10,-40,10)"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-attack-7.png~CS(-10,-40,10)"
        [/frame]
    [/attack_anim]
[/unit_type]