#textdomain wesnoth-celmin-bcoa
[unit_type]
	id=Vicious Rat
	name=_"Vicious Rat"
	race=monster
	image="units/monsters/giant-rat.png~CS(0,0,-100)"
	profile="portraits/monsters/giant-rat.png~CS(0,0,-100)"
	hitpoints=45
	movement_type=rodentfoot
	movement=4
	experience=25
	level=1
	alignment=chaotic
	advances_to=null
	{AMLA_DEFAULT}
	cost=14
	usage=fighter
	description= _ "Among giant rats, some of the largest and fiercest even become adept at using their whip-like tail as a weapon, though it's only marginally more effective than their fangs. Even so, it can make others think twice about sneaking up upon them."
	{DEFENSE_ANIM "units/monsters/giant-rat-defend-2.png~CS(0,0,-100)" "units/monsters/giant-rat-defend-1.png~CS(0,0,-100)" {SOUND_LIST:BAT_HIT} }
	die_sound=bat-flapping.wav
	#textdomain wesnoth-units
	[attack]
		name=bite
		description=_"bite"
		icon=attacks/fangs-rodent.png
		type=blade
		range=melee
		damage=3
		number=3
	[/attack]
	#textdomain wesnoth-celmin-bcoa
	[attack]
		name=tail
		description=_"tailwhip"
		icon=attacks/whip.png
		type=impact
		range=melee
		damage=10
		number=1
	[/attack]
	[death]
		start_time=0
		[frame]
			image="units/monsters/giant-rat-die-[1~3].png~CS(0,0,-100):100"
		[/frame]
	[/death]
	[attack_anim]
		[filter_attack]
			name=bite
		[/filter_attack]
		start_time=-500
		[frame]
			image="units/monsters/giant-rat-attack-[1~7].png~CS(0,0,-100):100"
		[/frame]
		{SOUND:HIT bite-small.ogg -100}
	[/attack_anim]
	# TODO: Would be better to have an actual tailwhip animation
	[attack_anim]
		[filter_attack]
			name=tail
		[/filter_attack]
		start_time=-500
		[frame]
			image="units/monsters/giant-rat-attack-[1~7].png~CS(0,0,-100):100"
		[/frame]
		{SOUND:HIT tail.ogg -100}
	[/attack_anim]
[/unit_type]
