#textdomain wesnoth-celmin-bcoa

[unit_type]
	[base_unit]
		id=Saurian Skirmisher
	[/base_unit]
	id=Saurian Skirmisher alt
	advances_to=Saurian Ambusher alt
	[attack]
	[/attack]
	[attack]
	[/attack]
    [attack]
        name=spear_butt
        description=_"spear butt"
        range=melee
        type=impact
        damage=3
        number=2
        icon=attacks/club-small.png
    [/attack]
	hide_help=yes
	do_not_list=yes
[/unit_type]

[unit_type]
	[base_unit]
		id=Saurian Ambusher
	[/base_unit]
	id=Saurian Ambusher alt
	advances_to=Saurian Flanker alt
	[attack]
	[/attack]
	[attack]
	[/attack]
    [attack]
        name=spear_butt
        description=_"spear butt"
        range=melee
        type=impact
        damage=5
        number=3
        icon=attacks/club-small.png
    [/attack]
	hide_help=yes
	do_not_list=yes
[/unit_type]

[unit_type]
	[base_unit]
		id=Saurian Flanker
	[/base_unit]
	id=Saurian Flanker alt
	[attack]
	[/attack]
	[attack]
	[/attack]
    [attack]
        name=spear_butt
        description=_"spear butt"
        range=melee
        type=pierce
        damage=6
        number=3
        icon=attacks/club-small.png
    [/attack]
	hide_help=yes
	do_not_list=yes
[/unit_type]
