
[unit_type]
	id=Elvish Zealot
	name=_"Elvish Zealot"
	race=elf
	gender=female
	advances_to=Elvish Priest
	image="units/human-magi/white-mage+female.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
	profile="portraits/humans/mage-white+female.png~RIGHT()"
    hitpoints=35
    movement_type=woodland
    movement=5
    experience=136
    level=2
    alignment=lawful
    cost=40
    usage=healer
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=entangle
        description=_"entangle"
        icon=attacks/vines-plain-1.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=4
        number=2
        range=ranged
    [/attack]
    [attack]
        name=lightbeam
        description=_"lightbeam"	# wmllint: no spellcheck (until name->id)
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]
	[abilities]
		{ABILITY_FAERIE_BRIGHTNESS}
		{ABILITY_CURES}
	[/abilities]
    [resistance]
        arcane=60
    [/resistance]
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	{DEFENSE_ANIM "units/human-magi/white-mage+female-defend.png" "units/human-magi/white-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	# Upon Kitty's request only on the right side.
	[portrait]
		size=400
		side="right"
		mirror="false"
		image="portraits/humans/transparent/mage-white+female.png"
	[/portrait]
	# Single sided portraits are not properly supported yet so use an
	# invalid image to override the inherited version.
	[portrait]
		size=400
		side="left"
		mirror="true"
		image=" "
	[/portrait]
	[healing_anim]
		[frame]
            begin=-525
            end=-450
			image="units/human-magi/white-mage+female-magic-1.png"
		[/frame]
		[frame]
            begin=-450
            end=-375
			image="units/human-magi/white-mage+female-magic-2.png"
		[/frame]
		[frame]
            begin=-375
            end=-300
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo6.png
		[/frame]
		[frame]
            begin=-300
            end=-225
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo1.png
		[/frame]
		[frame]
            begin=-225
            end=-150
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo2.png
		[/frame]
		[frame]
            begin=-150
            end=-75
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo3.png
		[/frame]
		[frame]
            begin=-75
            end=0
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo4.png
		[/frame]
		[frame]
            begin=0
            end=75
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo5.png
		[/frame]
		[frame]
            begin=75
            end=150
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo6.png
		[/frame]
		[frame]
            begin=150
            end=225
			image="units/human-magi/white-mage+female-magic-2.png"
		[/frame]
		[frame]
            begin=225
            end=300
			image="units/human-magi/white-mage+female-magic-1.png"
		[/frame]
	[/healing_anim]
	[attack_anim]
		[filter_attack]
			name=lightbeam
		[/filter_attack]
		{MISSILE_FRAME_LIGHT_BEAM}
		[frame]
            begin=-300
            end=-225
			image="units/human-magi/white-mage+female-magic-1.png"
		[/frame]
		[frame]
            begin=-225
            end=-150
			image="units/human-magi/white-mage+female-magic-2.png"
		[/frame]
		[frame]
            begin=-150
            end=-75
			image="units/human-magi/white-mage+female-magic-3.png"
		[/frame]
		[if]
            hits=yes
			[frame]
                begin=-75
                end=0
				image="units/human-magi/white-mage+female-magic-3.png"
                sound={SOUND_LIST:HOLY}
                halo=halo/holy/halo1.png
			[/frame]
		[/if]
		[else]
            hits=no
			[frame]
                begin=-75
                end=0
				image="units/human-magi/white-mage+female-magic-3.png"
                sound={SOUND_LIST:HOLY_MISS}
                halo=halo/holy/halo1.png
			[/frame]
		[/else]
		[frame]
            begin=0
            end=75
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo3.png
		[/frame]
		[frame]
            begin=75
            end=150
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo5.png
		[/frame]
		[frame]
            begin=150
            end=200
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo6.png
		[/frame]
		[frame]
            begin=200
            end=250
			image="units/human-magi/white-mage+female-magic-2.png"
		[/frame]
		[frame]
            begin=250
            end=300
			image="units/human-magi/white-mage+female-magic-1.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=entangle
		[/filter_attack]
        [missile_frame]
            offset=1.0
            begin=-200
            end=50
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        
		[frame]
            begin=-300
            end=-225
			image="units/human-magi/white-mage+female-magic-1.png"
		[/frame]
		[frame]
            begin=-225
            end=-150
			image="units/human-magi/white-mage+female-magic-2.png"
		[/frame]
		[frame]
            begin=-150
            end=-75
			image="units/human-magi/white-mage+female-magic-3.png"
		[/frame]
		{SOUND:SLOW}
		[frame]
            begin=-75
            end=0
			image="units/human-magi/white-mage+female-magic-3.png"
            sound=entangle.wav
            halo=halo/holy/halo1.png
		[/frame]
		[frame]
            begin=0
            end=75
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo3.png
		[/frame]
		[frame]
            begin=75
            end=150
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo5.png
		[/frame]
		[frame]
            begin=150
            end=200
			image="units/human-magi/white-mage+female-magic-3.png"
            halo=halo/holy/halo6.png
		[/frame]
		[frame]
            begin=200
            end=250
			image="units/human-magi/white-mage+female-magic-2.png"
		[/frame]
		[frame]
            begin=250
            end=300
			image="units/human-magi/white-mage+female-magic-1.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=staff
		[/filter_attack]
		[frame]
            begin=-325
            end=-300
			image="units/human-magi/white-mage+female.png"
		[/frame]
		[frame]
            begin=-300
            end=-200
			image="units/human-magi/white-mage+female-melee-1.png"
		[/frame]
		[frame]
            begin=-200
            end=-100
			image="units/human-magi/white-mage+female-melee-2.png"
		[/frame]
		[if]
            hits=yes
			[frame]
                begin=-100
                end=50
				image="units/human-magi/white-mage+female-melee-3.png"
                sound=staff.wav
			[/frame]
		[/if]
		[else]
            hits=no
			[frame]
                begin=-100
                end=50
				image="units/human-magi/white-mage+female-melee-3.png"
                sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
            begin=50
            end=150
			image="units/human-magi/white-mage+female-melee-4.png"
		[/frame]
		[frame]
            begin=150
            end=250
			image="units/human-magi/white-mage+female-melee-5.png"
		[/frame]
		[frame]
            begin=250
            end=350
			image="units/human-magi/white-mage+female-melee-6.png"
		[/frame]
	[/attack_anim]
[/unit_type]
